@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  overflow-x: clip;
}

@font-face {
  font-family: "ScribbleChild";
  src: url("/fonts/Scribble_Child.ttf");
}

@font-face {
  font-family: "ScribbleHand";
  src: url("/fonts/Scribble_Hand.ttf");
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
