@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: "ScribbleChild";
  src: url("/fonts/Scribble Child.ttf");
}
